<div id="header">
    <!-- if user has login show image
    else show login -->
    <a href="#" class="clear-a" style="background: blue;">Log In</a>
    <img src="" alt="profile-image" class="prof-img">
</div>