body{
    padding: 0;
    margin: 0;
    background: whitesmoke;
}
.main{
    background: rgb(94, 94, 94); 
    width: 600px;
    margin-top: 140px;
    text-align: center;
}
.cust-container-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
#header{
    height: 40px;
    background: red;
    width: 100%;
    text-align: right;
    padding-top: 10px;
}
#header > *{
    display: inline-block;
    margin: 0 10px;
}
.prof-img{
    border-radius: 50%;
}
.clear-a{
    text-decoration: none;
    color: black;
}
.logo{
    width: 100%;
    background: purple;
}
@media screen and (max-width: 650px){
    .main{
        width: 300px;
    }
}
#signup-container{
    width: 600px;
    height: auto;
    border: 1px solid black;
    margin-top: 15px;
    border-radius: 20px;
}